<template>
  <div>
    <b-nav tabs fill>
      <b-nav-item><router-link to="/">หน้าแรก</router-link></b-nav-item>
      <b-nav-item
        ><router-link to="/about"
          >จัดการข้อมูลส่วนบุคคล</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link to="/anms">จัดการประกาศรับสมัคร</router-link></b-nav-item
      >
      <b-nav-item
        ><router-link to="/forms">จัดการผู้สมัครงาน</router-link></b-nav-item
      >
      <b-nav-item
        ><router-link to="/users">จัดการข้อมูลผู้ใช้งาน</router-link></b-nav-item
      >
    </b-nav>
  </div>
</template>
